{{ define "main" }}
  <h1 style="margin-top: -2px">时空胶囊 🔮 </h1> 
  <p class="markdown book-post">受了 <a href="https://houjoe.me/sky-eye/?utm_source=blog.douchi.space" target="_blank">Joe 的天空之眼</a>的启发，<s>顺便给第 N 次入坑 360 相机找个 sustainable 的借口，</s>也来建一个时空胶囊的橱窗，陈列到一个新地方凝固下的瞬间。</p>
  {{ range sort .Paginator.Pages }}
  <a href="{{ .RelPermalink }}" class="capsule-link markdown">
    <div class="capsule">
      <article class="markdown ">
        <img src="{{ .Params.pano }}" class="capsule-cover" />
        <h2>{{ partial "docs/title.html" . }}</h2>
        <p>
          <!-- {{ partial "docs/post-meta" . }} -->
          {{- .Summary -}}
          {{ with .Date }}
            <div class="capsule-date">{{ partial "docs/date" (dict "Date" . "Format" $.Site.Params.BookDateFormat) }}</div>
          {{ end }}
        </p>
      </article>
    </div>
  </a>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
