@import "variables";

.markdown {
  line-height: 1.6;

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    line-height: 1;
    // margin-top: 1.5em;
    // margin-bottom: $padding-16;

    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }

  h4,
  h5,
  h6 {
    font-weight: bolder;
  }

  h2 {
    font-size: 1.75em;
    line-height: 1.2;
  }
  h3 {
    font-size: 1.375em;
    line-height: 1.1;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }

  b,
  optgroup,
  strong {
    font-weight: bolder;
    // from https://blog.hahaha.cc/life/27
    margin: 0 -0.3em;
    padding: 0 0.3em;
    border-radius: 0.6em 0.3em;
    background: 0 0;
    background-image: linear-gradient(to right, var(--color-link-light),  var(--color-link-superlight));
    -webkit-box-decoration-break: clone;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: var(--color-visited-link);
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  code {
    padding: 0 $padding-4;
    background: var(--paraiso-light);
    // background: var(--gray-200);
    border-radius: $border-radius;
    font-size: 0.875em;
  }

  pre {
    padding: $padding-16;
    background: var(--gray-100);
    border-radius: $border-radius;
    overflow-x: auto;

    code {
      padding: 0;
      background: none;
    }
  }

  p {
    word-wrap: break-word;
  }

  blockquote {
    margin: $padding-16 0;
    padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

    border-inline-start: $padding-4 solid var(--gray-200);
    border-radius: $border-radius;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  table {
    overflow: auto;
    display: table;
    border-spacing: 0;
    border-radius: 16px;
    border-collapse: collapse;
    margin-top: $padding-8;
    margin-bottom: $padding-8;
    width: fit-content;
    max-width: 100%;
    // background-color: var(--gray-100);
    padding-left: $padding-16;
    padding-right: $padding-16;
    font-size: 0.875em;

    tr th,
    tr td {
      padding: $padding-8 $padding-16;
      text-align: left;
      position: relative;
    }

    tr th {
      font-weight: 600;
      color: var(--body-font-color);
    }

    // Add separator after header row
    thead tr th {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--gray-500);
      }
    }

    // Add separator spanning full width of each cell
    tbody tr:not(:last-child) td {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--gray-200);
      }
    }
  }

  .book-search td.gsc-input {
    padding: 0 !important;
  }

  /* Kill padding on the inner wrapper cell */
  .book-search td.gsib_a {
    padding: 0 !important;
  }

  /* Make sure the div wrapper has no padding */
  .book-search #gsc-iw-id1,
  .book-search #gsc-iw-id1 .gsc-input-box {
    padding: 0 !important;
  }

  /* Finally, remove padding/margins from the actual input */
  .book-search input#gsc-i-id1 {
    padding: 0 !important;
    margin: 0 !important;
  }

  .book-search input#gsc-i-id1 {
    line-height: 1 !important;
    height: 1.25em !important;  /* adjust as needed */
  }

  hr {
    height: $padding-1;
    border: none;
    background: var(--gray-200);
  }

  ul,
  ol {
    padding-inline-start: $padding-16 * 2;
    word-wrap: break-word;
  }

  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-inline-start: 0;
      margin-bottom: $padding-16;
    }
  }

  // Special case for highlighted code with line numbers
  .highlight table tr {
    td:nth-child(1) pre {
      margin: 0;
      padding-inline-end: 0;
    }
    td:nth-child(2) pre {
      margin: 0;
      padding-inline-start: 0;
    }
  }

  details {
    padding: $padding-16;
    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    summary {
      line-height: 1;
      padding: $padding-16;
      margin: -$padding-16;
      cursor: pointer;
    }

    &[open] summary {
      margin-bottom: 0;
    }
  }

  figure {
    margin: $padding-16 0;
    figcaption p {
      margin-top: 0;
    }
  }
}

.markdown-inner {
  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
